<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>User Registration Form</title>
<style type="text/css">
	body { 
		background-color: lightblue;
	}
    label {
        display: inline-block;
        width: 200px;
        margin: 5px;
        text-align: left;
    }
    input[type=text], input[type=password], select {
        display: inline-block;
        width: 200px;
    }
    input[type=radio] {
        margin-left: 45px;
    }
    input[type=checkbox] {
        margin-right: 190px;
    }  
    button {
        padding: 5px;
        margin: 10px;
    }
</style>
</head>
<body>
<div align="center">
    <h1>User Registration</h1>
    <form action="#" th:action="@{/register}" method="post" th:object="${user}">
    	<table>
    		<tr>
    			<td>Name:</td>
    			<td><input type="text" minlength="2" th:field="*{name}" /></td>
    		</tr>
    		<tr>
    			<td>Email:</td>
    			<td><input type="email" minlength="10" th:field="*{email}" /></td>
    		</tr>
    		<tr>
    			<td>Password:</td>
    			<td><input type="password" minlength="8" th:field="*{password}" /></td>
    		</tr>
    		<tr>
    			<td>Birthday:</td>
    			<td><input type="date" min="1920-01-01" max="2020-12-31" th:field="*{birthday}" /></td>
    		<tr>
    			<td>Gender:</td>
        		<td><input type="radio" th:field="*{gender}" value="Male" />Male</td>
        		<td><input type="radio" th:field="*{gender}" value="Female" />Female</td>
    		</tr>
    		<tr>
    			<td>Profession:</td>
    			<td><select th:field="*{profession}" required>
            		<option th:each="p : ${listProfession}" th:value="${p}" th:text="${p}" />
        			</select>
        		</td>
        	</tr>
        	<tr>
        		<td>Married?</td>
        		<td><input type="checkbox" th:field="*{married}" /></td>
        	</tr>
        	<tr>
        		<td>Note:</td>
 				<td><textarea rows="5" cols="25" th:field="*{note}"></textarea></td>
 			</tr>
 			<tr>
 				<td><input type="submit" value="Submit" /></td>
 			</tr>
    	</table>
    </form>
</div>
</body>
</html>
